<h2>Login</h2>

<% if @error %>
  <li><%= @error %></li>
<% end %>

<%= form_tag login_path do %>
  <%= email_field_tag :email %>
  <%= password_field_tag :password %>
  <%= submit_tag "Login" %>
<% end %>
