<h2>Get Started</h2>

<ul>
  <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<%= form_for @user, url: get_started_path do |f| %>

  <%= f.label :bottom_fit, "Bottom Fit" %>
  <%= f.select :bottom_fit, bottom_fit_options, disabled: bottom_fit_options[0], selected: bottom_fit_options[0] %>

  <%= f.label :top_size, "Top Size" %>
  <%= f.select :top_size, top_size_options, disabled: top_size_options[0], selected: top_size_options[0] %>

  <%= f.label :waist_size, "Waist Size" %>
  <%= f.select :waist_size, waist_size_options, disabled: waist_size_options[0], selected: waist_size_options[0] %>

  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name, placeholder: "First Name" %>

  <%= f.label :last_name, "Last Name" %>
  <%= f.text_field :last_name, placeholder: "Last Name" %>


  <%= f.label :email, "Email" %>
  <%= f.text_field :email, placeholder: "Email Address" %>


  <%= f.label :password, "Password" %>
  <%= f.password_field :password, placeholder: "Password" %>

  <%= f.submit "Sign Up" %>
<% end %>
