<div class="get-started">
  <div class="container">

    <h2>Get Started</h2>
    <hr>

    <ul>
      <% @user.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>

    <%= form_for @user, url: get_started_path do |f| %>

      <div class="form-group selection">
        <h4 class="selection-title">Select your <span>favorite tops</span></h4>

        <div class="row">
          <div class="col-md-3 col-4">
            <%= f.label :button_down do %>
              <%= image_tag "collared.jpg" %>
              <%= f.check_box :favorite_tops, { id: "user_button_down", multiple: true }, "Button Down" %>
              Button Down 
            <% end %>
          </div>

          <div class="col-md-3 col-4">
            <%= f.label :crew_neck do %>
              <%= image_tag "crewneck.jpg" %>
              <%= f.check_box :favorite_tops, { id: "user_crew_neck", multiple: true }, "Crew Neck" %>
              Crew Neck 
            <% end %>
          </div>

          <div class="col-md-3 col-4">
            <%= f.label :flannel do %>
              <%= image_tag "flannel.jpg" %>
              <%= f.check_box :favorite_tops, { id: "user_flannel", multiple: true }, "Flannel" %>
              Flannel 
            <% end %>
          </div>

          <div class="col-md-3 col-4">
            <%= f.label :graphic do %>
              <%= image_tag "graphic.jpg" %>
              <%= f.check_box :favorite_tops, { id: "user_graphic", multiple: true }, "Graphic" %>
              Graphic 
            <% end %>
          </div>

          <div class="col-md-3 col-4">
            <%= f.label :long_sleeve do %>
              <%= image_tag "longsleeve.jpg" %>
              <%= f.check_box :favorite_tops, { id: "user_long_sleeve", multiple: true }, "Long Sleeve" %>
              Long Sleeve 
            <% end %>
          </div>

          <div class="col-md-3 col-4">
            <%= f.label :polo do %>
              <%= image_tag "polo.jpg" %>
              <%= f.check_box :favorite_tops, { id: "user_polo", multiple: true }, "Polo" %>
              Polo 
            <% end %>
          </div>

          <div class="col-md-3 col-4">
            <%= f.label :tank_top do %>
              <%= image_tag "tank.jpg" %>
              <%= f.check_box :favorite_tops, { id: "user_tank_top", multiple: true }, "Tank Top" %>
              Tank Top 
            <% end %>
          </div>

          <div class="col-md-3 col-4">
            <%= f.label :v_neck do %>
              <%= image_tag "vneck.jpg" %>
              <%= f.check_box :favorite_tops, { id: "user_v_neck", multiple: true }, "V Neck" %>
              V Neck 
            <% end %>
          </div>
        </div>
      </div>

      <div class="form-group selection">
        <h4 class="selection-title">Select your <span>favorite bottoms</span></h4>

        <div class="row">
          <div class="col-md-3 col-6">
            <%= f.label :shorts do %>
              <%= image_tag "shorts.jpg" %>
              <%= f.check_box :favorite_bottoms, { id: "user_shorts", multiple: true }, "Shorts" %>
              Shorts
            <% end %>
          </div>
          
          <div class="col-md-3 col-6">
            <%= f.label :sweats do %>
              <%= image_tag "sweats.jpg" %>
              <%= f.check_box :favorite_bottoms, { id: "user_sweats", multiple: true }, "Sweats" %>
              Sweats
            <% end %>
          </div>

          <div class="col-md-3 col-6">
            <%= f.label :joggers do %>
              <%= image_tag "joggers.jpg" %>
              <%= f.check_box :favorite_bottoms, { id: "user_joggers", multiple: true }, "Joggers" %>
              Joggers 
            <% end %>
          </div>

          <div class="col-md-3 col-6">
            <%= f.label :jeans do %>
              <%= image_tag "jeans.jpg" %>
              <%= f.check_box :favorite_bottoms, { id: "user_jeans", multiple: true }, "Jeans" %>
              Jeans 
            <% end %>
          </div>
        </div>
      </div>

      <div class="form-group selection">
        <h4 class="selection-title">Select your <span>bottom fit</span></h4>

        <div class="row">
          <div class="col-md-4 col-6">
            <%= f.label :bottom_fit_relaxed, "Relaxed" do %>
              <%= image_tag "relaxed.jpg" %>
              <%= f.radio_button :bottom_fit, "Relaxed" %>
              Relaxed
            <% end %>
          </div>

          <div class="col-md-4 col-6">
            <%= f.label :bottom_fit_skinny do %>
              <%= image_tag "skinny.jpg" %>
              <%= f.radio_button :bottom_fit, "Skinny" %>
              Skinny
            <% end %>
          </div>

          <div class="col-md-4 col-6">
            <%= f.label :bottom_fit_straight do %>
              <%= image_tag "straight.jpg" %>
              <%= f.radio_button :bottom_fit, "Straight" %>
              Straight
            <% end %>
          </div>
        </div>
      </div>

      <div class="form-group selection text-center">
        <h4 class="selection-title">Select your <span>favorite colors</span></h4>

        <%= f.label :blue do %>
          <%= f.check_box :favorite_colors, { id: "user_blue", multiple: true }, "Blue" %>
          <span class="selection-color selection-color-blue">Blue</span>
        <% end %>

        <%= f.label :black do %>
          <%= f.check_box :favorite_colors, { id: "user_black", multiple: true }, "Black" %>
          <span class="selection-color selection-color-black">Black</span>
        <% end %>
          
        <%= f.label :green do %>
          <%= f.check_box :favorite_colors, { id: "user_green", multiple: true }, "Green" %>
          <span class="selection-color selection-color-green">Green</span>
        <% end %>

        <%= f.label :orange do %>
          <%= f.check_box :favorite_colors, { id: "user_orange", multiple: true }, "Orange" %>
          <span class="selection-color selection-color-orange">Orange</span>
        <% end %>

        <%= f.label :pink do %>
          <%= f.check_box :favorite_colors, { id: "user_pink", multiple: true }, "Pink" %>
          <span class="selection-color selection-color-pink">Pink</span>
        <% end %>

        <%= f.label :red do %>
          <%= f.check_box :favorite_colors, { id: "user_red", multiple: true }, "Red" %>
          <span class="selection-color selection-color-red">Red</span>
        <% end %>

        <%= f.label :yellow do %>
          <%= f.check_box :favorite_colors, { id: "user_yellow", multiple: true }, "Yellow" %>
          <span class="selection-color selection-color-yellow">Yellow</span>
        <% end %>

        <%= f.label :white do %>
          <%= f.check_box :favorite_colors, { id: "user_white", multiple: true }, "White" %>
          <span class="selection-color selection-color-white">White</span>
        <% end %>
      </div>

      <div class="form-group text-center">
        <div class="row">
          <div class="col-md-6 selection offset-md-3">
            <h4 class="selection-title">Select your <span>top size</span></h4>
            
            <%= f.label :top_size_small, class: "top-size-radio" do %>
              <%= f.radio_button :top_size, "Small" %>
              Small
            <% end %>

            <%= f.label :top_size_medium, class: "top-size-radio" do %>
              <%= f.radio_button :top_size, "Medium" %>
              Medium 
            <% end %>

            <%= f.label :top_size_large, class: "top-size-radio" do %>
              <%= f.radio_button :top_size, "Large" %>
              Large 
            <% end %>

            <%= f.label :top_size_extra_large, class: "top-size-radio" do %>
              <%= f.radio_button :top_size, "Extra Large" %>
              Extra Large
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 selection offset-md-3">
            <h4 class="selection-title">Select your <span>waist size</span></h4>

            <%= f.select :waist_size, waist_size_options, { disabled: waist_size_options[0], selected: @user.waist_size || waist_size_options[0] }, { class: "form-control" } %>
          </div>
        </div>
      </div>

      <div class="form-group about-you">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <h4 class="selection-title">Tell us a bit about <span>you</span></h4>
            
            <%= f.label :first_name, "First Name" %>
            <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>

            <%= f.label :last_name, "Last Name" %>
            <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>

            <%= f.label :email, "Email" %>
            <%= f.text_field :email, placeholder: "Email Address", class: "form-control" %>

            <%= f.label :password, "Password" %>
            <%= f.password_field :password, placeholder: "Password", class: "form-control" %>

            <%= f.submit "Sign Up", class: "btn btn-primary sign-up-btn" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
