<div class="landing-jumbo">
  <div class="container-fluid">
    <h1 class="landing-jumbo-logo">CASKET<span>DROP</span></h1>
    <br />
    <p>Fresh to death threads &amp; accessories, every month.</p>
    <br />
    <%= link_to "Get Started", get_started_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container-fluid">
  <!-- STYLE INFO -->
  <section class="row">
    <section class="col-md-6 offset-md-3 grid-detail">
      <div class="grid-detail-content">
        <h3 class="grid-detail-title">OUR STYLES</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        <a class="btn btn-sm" href="#">Check Them Out</a>
      </div>
      <div class="landing-grid-mask"></div>
    </section>
  </section>

  <div class="row">
    <section class="col-md-6 landing-grid-1">
      <div class="landing-grid-content">
        <h3>ATHLETIC</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>
      <div class="landing-grid-mask"></div>
    </section>

    <section class="col-md-6 landing-grid-2">
      <div class="landing-grid-content">
        <h3>CLEAN CUT</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>
      <div class="landing-grid-mask"></div>
    </section>
  </div>

  <div class="row">
    <section class="col-md-6 landing-grid-3">
      <div class="landing-grid-content">
        <h3>HIPSTER</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>
      <div class="landing-grid-mask"></div>
    </section>

    <section class="col-md-6 landing-grid-4">
      <div class="landing-grid-content">
        <h3>STREET</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>
      <div class="landing-grid-mask"></div>
    </section>
  </div>
</div>

<div class="features container">
  <h3 class="title">What <span>items</span> do you get in your box?</h3>
  <p class="subtitle">Our boxes are various combinations of the following...</p>

  <div class="row">
    <div class="col-md-4 feature">
      <%= image_tag "jeans.JPG" %>
      <h4>Bottoms</h4>
      <p>We start all of our boxes off with bottoms. This is normally when the inspiration for the rest of the gear comes from. The base is where it all builds from.</p>
      <ul>
        <li>Jeans</li>
        <li>Joggers</li>
        <li>Shorts</li>
        <li>Sweats</li>
      </ul>
    </div>

    <div class="col-md-4 feature">
      <%= image_tag "shirts.JPG" %>
      <h4>Tops</h4>
      <p>Next we select tops that would compliment the bottoms style. Sometimes we throw in some layers for some extra swag.</p>
      <ul>
        <li>Crew Necks</li>
        <li>Jackets</li>
        <li>Sweaters</li>
        <li>Tank Tops</li>
        <li>V-Necks</li>
      </ul>
    </div>

    <div class="col-md-4 feature">
      <%= image_tag "acc.JPG" %>
      <h4>Accessories</h4>
      <p>After the threads are selected, we then add some extras to top it all off.</p>
      <ul>
        <li>Boxers</li>
        <li>Bracelets</li>
        <li>Cologne</li>
        <li>Socks</li>
        <li>Sun Glasses</li>
        <li>Watchers</li>
        <li>Wristbands</li>
      </ul>
    </div>
  </div>
</div>

<div class="personalization">
  <h3 class="title">How we <span>personalize</span> your box!</h3>
  <p class="subtitle">Each box is personalized to match you...</p>

  <div class="container">
    <div class="row">

      <div class="col-md-4 personalization-step">
        <%= image_tag "user.png" %>
        <p class="personalization-step-step">Step <span>1</span></p>
        <h4>Tell Us About <span>You</span></h4>
        <p class="personalization-step-detail">Before we do anything, we first want to know who you are and what you like as well as details to make sure we get items that fit you exactly how you like.</p>
      </div>

      <div class="col-md-4 personalization-step">
        <%= image_tag "resume.png" %>
        <p class="personalization-step-step">Step <span>2</span></p>
        <h4><span>We</span> Create a Customized List</h4>
        <p class="personalization-step-detail">Once we know a bit about you, we create a list that contains what items we think you would like. We also take into account previous boxes you've receive, what you loved and didn't.</p>
      </div>

      <div class="col-md-4 personalization-step">
        <%= image_tag "megaphone.png" %>
        <p class="personalization-step-step">Step <span>3</span></p>
        <h4><span>We</span> Gather Feedback</h4>
        <p class="personalization-step-detail">After you receive your box, we gather feedback from you on what you liked and didn't like so we can improve and make sure you're happy.</p>
      </div>
    </div>
  </div>
</div>
